@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


body {
    position: relative;
	margin-top: 150px;
    margin-left: 300px;
    font-family: "Montserrat", sans-serif;
	height: 1500px;
    background-image: linear-gradient(335deg,
        rgba(239, 239, 249, 1) 38%,
        rgba(160, 208, 243, 1) 83%,
        rgba(144, 226, 243, 1) 100%);
}

#textArea {
    display: flex;
    margin-top: -250px;
    margin-left: 300px;
}

h1 {
    margin-top: -120px;
    font-weight: 300px;
}

.Start {
    position: relative;
    background-color: rgb(19, 143, 177);
    color: #7ed8ff;
    width: 50px;
    height: 180px;
    font-size: 20px;
    font-weight: 300px;
    text-align: center;
    border-radius: 10px;
    margin-top: -170px;
    margin-left: 100px;
    z-index: 0;
}

.CS {
    position: relative;
    background-color: rgb(19, 143, 177);
    color: #7ed8ff;
    font-weight: 20px;
    width: 100px;
    height: 180px;
    font-size: 20px;
    font-weight: 300px;
    text-align: center;
    border-radius: 10px;
    margin-top: -180px;
    margin-left: 290px;
    z-index: 0;
}

.End {
    position: relative;
    background-color: rgb(19, 143, 177);
    color: #7ed8ff;
    width: 50px;
    height: 180px;
    font-size: 20px;
    font-weight: 300px;
    text-align: center;
    border-radius: 10px;
    margin-top: -180px;
    margin-left: 720px;
    z-index: 0;
}

.Show {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.Pruce {
    display: flex;
    background-color: #0fb1ec;
    width: 60px;
    height: 50px;
    font-size: 42px;
    text-align: center;
    margin-left: 550px;
    margin-top: -50px;
}

.w1 {
    display: flex;
    width: 60px;
    height: 50px;
    font-size: 42px;
    text-align: center;
    margin-left: 400px;

}

.w2 {
    display: flex;
    width: 60px;
    height: 50px;
    font-size: 42px;
    text-align: center;
    margin-left: 400px;
    margin-top: 10px;
}

.interestP0 {
    display: flex;
    background-color: #0fb1ec;
    width: 100px;
    height: 50px;
    font-size: 42px;
    text-align: center;
    margin-top: -50px;
    margin-left: 600px;
}

.interestP1 {
    display: flex;
    background-color: #0fb1ec;
    width: 100px;
    height: 50px;
    font-size: 42px;
    text-align: center;
    margin-top: -50px;
    margin-left: 750px;
}

.P0 {
    background-color: #0fb1ec;
    color: #000000;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    margin-top: 140px;
    height: 40px;
    width: 40px;
    position: relative;
    animation-name: P00;
    animation-duration: 8s;
    z-index: 1;
}

@keyframes P00 {
    0%   {left:0px; top:0px;}
    25%  {left:150px; top:0px;}
    50%  {left:310px; top:0px;}
    70%  {left:310px; top:0px;}
    75%  {left:550px; top:0px;}
    100% {left:800px; top:0px;}
  }


.P1 {
    background-color: #0fb1ec;
    color:#000000;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    /* margin: 200px; */
    height: 40px;
    width: 40px;
    margin-top: 10px;
    position: relative;
    animation-name: P01;
    animation-duration: 8s;
    z-index: 1;
}

@keyframes P01 {
    0%   {left:0px; top:0px;}
    25%  {left:0px; top:0px;}
    50%  {left:0px; top:0px;}
    70%  {left:150px; top:0px;}
    75%  {left:150px; top:0px;}
    80%  {left:310px; top:0px;}
    90%  {left:500px; top:0px;}
    100% {left:800px; top:0px;}
  }






  @import url("https://fonts.googleapis.com/css?family=Montserrat:200&display=swap");

  a {
      text-decoration: none;
      color: #fff;
  }
  .nav {
      background: rgba(0, 0, 0, 0.87);
      padding: 15px 0;
      padding-top: 7px;
      padding-bottom: 5px;
      margin-top: -10px;
      margin-left: -300px;
      margin-right: -8.2px;
      margin-bottom: 149px;
  }
  .nav:after {
      display: block;
      content: "";
      clear: right;
  }
  .container {
      width: calc(100% - 200px);
  }
  .brand-logo {
      color: #fff;
      font-size: 20px;
      margin-top: 100px;
      margin-left: 20px;
  }
  input[type="checkbox"] {
      display: none;
  }
  .menu {
      margin: 4px;
      padding: 5px;
      border: 1px #fff solid;
      position: absolute;
      font-size: 12px;
      color: #fff;
      top: 10px;
      left: 10px;
      background: none;
      text-transform: capitalize;
      outline: none;
      display: none;
  }
  ul {
      float: right;
      font-size: 0;
  }
  li {
      display: inline-block;
      font-size: 20px;
      margin: 0 10px;
      text-transform: capitalize;
      color: #fff;
      padding: 5px 0;
  }
  li:first-child {
      margin-left: 0;
  }
  li:last-child {
      margin-right: 0;
  }
  .services {
      cursor: pointer;
      padding-right: 5px;
  }
  .services:hover .services-dropdown {
      display: block;
      color: black;
      cursor: pointer;
  }
  .services-dropdown {
      display: none;
      max-width: 200px;
      position: absolute;
      background: #f4f4f4;
  }
  .services-dropdown a {
      display: block;
      color: #000;
      padding: 10px 15px;
      font-size: 18px;
  }
  .services-dropdown a:hover {
      background: #dcdcdc;
  }
  li input[type="text"] {
      height: 20px;
      padding: 7px 15px;
      font-size: 15px;
      background: #fff;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  .fa-search {
      background: white;
      color: #4a4a4a;
      padding: 10px;
      vertical-align: middle;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      font-size: 14px;
  }
  li input[type="text"]:focus {
      outline: none;
  }
  .hover:after {
      display: block;
      content: "";
      border-bottom: 2px solid #fff;
      transform: scaleX(0);
      transition: transform ease-in 200ms;
  }
  .hover:hover:after {
      transform: scaleX(1);
  }
  
  @media screen and (max-width: 1024px) {
      .brand-logo {
          font-size: 20px;
          margin-left: 100px;
      }
      li {
          font-size: 15px;
          padding: 0;
      }
      .container {
          width: calc(100% - 100px);
      }
      li input[type="text"] {
          height: 12px;
          font-size: 12px;
      }
      .fa-search {
          font-size: 8px;
          padding: 9px;
          vertical-align: top;
      }
      .services-dropdown a {
          font-size: 11px;
      }
  }
  @media screen and (max-width: 768px) {
      .container {
          width: calc(100% - 40px);
      }
      .brand-logo {
          display: block;
          text-align: center;
          font-size: 1px;
          margin-left: 20px;
      }
      ul {
          display: none;
          float: none;
          text-align: center;
      }
      .fa-search {
          font-size: 8px;
          padding: 9px;
          vertical-align: top;
      }
      .menu {
          display: block;
      }
      .menu-toggle:checked ~ ul {
          display: block;
      }
      li {
          margin: 10px;
          padding: 0;
      }
      li:last-child {
          display: block;
      }
  }
  @media screen and (max-width: 428px) {
      li {
          font-size: 12px;
      }
      .fa-search {
          font-size: 8px;
          padding: 9px;
          vertical-align: top;
      }
  }